# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Library/CurrentLayout.dwlt
Wars Of Baraxa/Library/assetDatabase3
Wars Of Baraxa/Library/CurrentLayout.dwlt
Wars Of Baraxa/Library/guidmapper
Wars Of Baraxa/Library/InspectorExpandedItems.asset
Wars Of Baraxa/Library/metadata/b7/b75b6130ecc1ad749a534e4851c2d0f6
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Wars Of Baraxa.userprefs
Wars Of Baraxa/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Wars Of Baraxa/Assembly-CSharp-vs.csproj
Wars Of Baraxa/Library/metadata/00/00000000000000004000000000000000
Wars Of Baraxa/Library/metadata/00/00000000000000004000000000000000